{
  "extends": "airbnb",
  "plugins": ["react-hooks"],
  "rules": {
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"] }]
  },
  "root": true,
  "globals": {
    "fetch": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
